@use "../../layout/headermobile" as *;

@include headermobile;
@media (min-width: 375px) and (max-width: 424px) {
 
    body{
    //  @include headermobile;
    background-color: rgb(182, 222, 255);
       .navbar-toggler {
        border: 2px solid #498be2; /* Color del borde (puedes cambiar el valor de color) */
        border-radius: 5px; /* Opcional: cambia el radio de las esquinas si lo deseas */
       }
    }
}